.row
  .col-md-12
    %h1.title 
      Gestão de alertas
      %small
        %p Criação de alerta
      = link_to "Retornar para listagem",  client_alerts_path, class: 'btn btn-primary', data: { disable_with: t(:disable_with)}
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %b Novo alerta
      .panel-body
        = render 'form'