.row
  .col-md-12
    %h1.title 
      Gestão de chamados
      %small
        %p Criação novo chamado
      = link_to "Retornar para listagem", tickets_path, class: 'btn btn-primary', data: { disable_with: t(:disable_with)}
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %b Novo chamado
      .panel-body
        = render 'form'