.row
  .col-md-12
    %h1.title 
      Gestão de documentos
      %small
        %p listagem de documentos de clientes
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-body
        %i Sincronizando