.row
  .col-md-12
    %h1.title 
      Gestão de boletos
      %small
        %p Emissão de boleto
      = link_to "Retornar para listagem", billets_path(@params), class: 'btn btn-primary', data: { disable_with: t(:disable_with)}
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %b Emissão de boleto
      .panel-body
        = render 'form'