.row
  .col-md-12
    %h1.title 
      Gestão de contas
      %small
        %p Criação de nova conta
    = link_to "Retornar para listagem", accounts_path(@params), class: 'btn btn-primary', data: { disable_with: t(:disable_with)}
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %b Formulário de criação de nova conta
      .panel-body
        = render 'form'