.row
  .col-md-12
    %h1.title 
      Chat interno
      %small
        %p listagem de mensagens
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        Mensagens
      .panel-body.index-chat
        #overflow.col-md-12{style: 'overflow: auto; height: 500px;'}
          = render 'index'
      %br/
      
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-body.index-form
        = render 'form'
            