.row
  .col-md-12
    %h1.title 
      Chat interno
      %small
        %p listagem de mensagens
.divider
.row
  .col-md-12
    #overflow{style: 'overflow: auto; height: 400px;'}
      .panel.panel-default
        .panel-body
          - 60.times do |chat|
            .row
              ok
            