.row
  .col-md-12
    %h1.title 
      Chat interno
      %small
        %p listagem de mensagens
.divider
.row
  .col-md-12
    #overflow{style: 'overflow: auto; height: 700px;'}
      .panel.panel-default
        .panel-body.index-chat
          = render 'index'
        %br/
      
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-body.index-form
        = render 'form'
            