<!DOCTYPE html>
<html>
<head>
  <title>General site</title>
  <%= stylesheet_link_tag    "general_site/application", media: "all" %>
  <%= javascript_include_tag "general_site/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
