.row
  .col-md-12
    %h1.title 
      Gestão de postagens
      %small
        %p Criação de postagem
      = link_to "Retornar para listagem", posts_path, class: 'btn btn-primary', data: { disable_with: t(:disable_with)}
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %b Nova postagem
      .panel-body
        = render 'form'