.row
  .col-md-12
    %h1.title 
      Gestão de menus
      %small
        %p Criação de menu
      = link_to "Retornar para listagem", navs_path, class: 'btn btn-primary', data: { disable_with: t(:disable_with)}
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %b Novo menu
      .panel-body
        = render 'form'