<!DOCTYPE html>
<html>
<head>
  <title>Internal</title>
  <%= stylesheet_link_tag    "internal/application", media: "all" %>
  <%= javascript_include_tag "internal/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
