.row
  .col-md-12
    %h1.title 
      Gestão de mensagens
      %small
        %p listagem de mensagens de clientes
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-body
        %i Sincronizando