.row
  .col-md-12
    %h1.title 
      Gestão de fornecedores
      %small
        %p Criação de fornecedores
      = link_to "Retornar para listagem", suppliers_path, class: 'btn btn-primary', data: { disable_with: t(:disable_with)}
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %b Novo fornecedor
      .panel-body
        = render 'form'