<!DOCTYPE html>
<html>
<head>
  <title>Commercial</title>
  <%= stylesheet_link_tag    "commercial/application", media: "all" %>
  <%= javascript_include_tag "commercial/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
