.row
  .col-md-12
    %h1.title 
      Gestão de páginas
      %small
        %p Edição de página
      = link_to "Retornar para listagem", pages_path, class: 'btn btn-primary', data: { disable_with: t(:disable_with)}
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %b Editar página
      .panel-body
        = render 'form'