.row
  .col-md-12
    %h1.title 
      Gestão de documentos
      %small
        %p Criação de documentos
      = link_to "Retornar para listagem",  client_documents_path, class: 'btn btn-primary', data: { disable_with: t(:disable_with)}
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %b Novo documento
      .panel-body
        = render 'form'