.row
  .col-md-12
    %h1.title 
      Gestão de patrimônios
      %small
        %p listagem de patrimônios
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-body
        %i Sincronizando...