.row
  .col-md-12
    %h1.title 
      Agenda
      %small
        %p listagem de compromissos, tarefas, eventos e outros
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-body
        #calendar

:javascript

  $('#calendar').fullCalendar({
    locale: 'pt-BR',
    buttonText: {
      month: "Mês",
      week: "Semana",
      day: "Dia",
      list: "Todos os eventos"
    },
    allDayText: "dia inteiro",
    eventLimitText: function(n) {
      return "mais +" + n;
    },
    header: {
      left: 'prev,next',
      center: 'title',
      right: 'month,agendaWeek,agendaDay,listMonth'
    },
    noEventsMessage: "Não há eventos para mostrar"
  });



