%nav.navbar.navbar-default{style: 'margin-bottom: 0px !important; background-color: #3c3c3c !important;'}
  .container
    .navbar-header
      %a.navbar-brand{:href => "#"}
        %img{:alt => "Brand", :src => "..."}/
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"} Avisos
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Meu perfil
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Meu perfil
            %li
              %a{:href => "#"} Mensagens
            %li.divider{:role => "separator"}
            %li
              %a{:href => "#"} Sair