%nav.navbar.navbar-default
  .container
    %ul.nav.navbar-nav
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Interno
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Funcionários
          %li
            %a{:href => "#"} Setores
          %li
            %a{:href => "#"} Anotações
          %li
            %a{:href => "#"} Contatos
          
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#"} Chat geral
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#"} Tarefas
            %a{:href => "#"} Eventos
            %a{:href => "#"} Agenda

    / /.navbar-collapse
  / /.container-fluid
