.row
  .col-md-12
    %h1.title 
      Gestão de estoque
      %small
        %p Criação de items
      = link_to "Retornar para listagem", items_path, class: 'btn btn-primary', data: { disable_with: t(:disable_with)}
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %b Novo item
      .panel-body
        = render 'form'