.panel.panel-default
  .panel-body
    %ul.nav.nav-pills.nav-stacked.nav-pills-stacked-example
      %li 
        %a{href: "#"} Cadastro funcionáriosrio 
      %li 
        %a{href: "#"} Dados complementares 
      %li 
        %a{href: "#"} Identificacao 
      %li 
        %a{href: "#"} Tamanho de grade 
      %li 
        %a{href: "#"} Treinamentos 
      %li 
        %a{href: "#"} Absenteísmo 
      %li 
        %a{href: "#"} Turnos 
      %li 
        %a{href: "#"} Atividades na empresa 
      %li 
        %a{href: "#"} Restrições 
      %li 
        %a{href: "#"} Materiais 
      %li 
        %a{href: "#"} Empregado benefício 