.row
  .col-md-12
    %h1.title 
      Gestão de arquivos 
      %small
        %p listagem de arquivos trocados com clientes
.divider
.row
  .col-md-12
    .panel.panel-default
      .panel-body
        %i Sincronizando